
header{
    display: flex;
}
nav{
    margin: 0 0 0 14em ;

}
nav>ul{
display: flex;
list-style: none;
margin-left: 4em;
margin-top: 4em;
}

nav>ul>li{
    margin-right:7em;
    cursor: pointer;  
    }

nav>ul>li:hover{
color: #46eb46;
background-color: black;
}
.pageTitle{
    text-align: center;
    margin-top: 8rem;
    font-family: 'Kalnia', serif;
}
.pageTitle>.webpageTitle{
    font-size:xx-large;
}
.pageTitle>.slogan{
font-size: xx-large;
margin: -4em 0 0 0;
}
img {
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
img.logo{
    height: auto;
    width: 17%;
}
img.yarnMainPhoto{
    width: 50%;
    height: auto;
    margin: 3rem 23rem;
    border-radius: 9%;
}

img.yarnTypes{
    height: auto;
    width: 35%;
    border-radius: 9%;
    margin-left: 2rem;
}

img.socialMedia{
    height:auto;
    width: 3%;
    margin-right: 2rem;
    border-radius: 9%;
    cursor: pointer;
}

img.ccImage{
    width: 33%;
    height: auto;
    margin: 3rem 23rem;
    border-radius: 9%;
}

img.shopNow{
    width: 25%;
    height: auto;
    margin: 3rem 9rem;
    border-radius: 9%;
}

img.slideshowImage{
    height: auto;
    width:40%;
    border-radius:2%;
}

h2,h3,.paragraphSlogan,.testimonials{
    text-align: center;
}

nav{
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  /* h1{ */
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    /* filter: drop-shadow(5px 5px 5px #222); */
  /* } */
.testimonials{
    margin-top:8em;
    font-size: 2em;

}
section.paragraphSlogan{
    margin: 0 2em;
    padding: 1em 9em 0 32em;
    width:28%
}
/* div.paragraphSlogan>.paragraphSlogan{
    margin:0 0 0 0;
} */
section{
    margin: 3rem 0;
}
section,h1,h2,h3,h4,p,nav,li{
    font-family: 'Kalnia', serif;
}
div.yarnType{
    display: flex;
}
div.yarnType>.yarnDescription{
    margin: 5rem;
    padding:4em;
    text-align: center;
    width:30%;
    font-size: 1.3em;
}
p.threadCollection,.tbAction{
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    margin: 4em 0;
}
p.yarnType1,p.yarnType3{
    font-family: 'Kalnia', serif;
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 3em;
    font-size: 1.3em;
}
p.yarnType2{
    font-family: 'Kalnia', serif;
    font-size: 1.3em;
    margin-left: 41em;
    font-weight: bold;
}

section.videoAndText{
    display: flex;
    margin-left: 14em;
}

.videoText{  
    font-weight:100;
    font-size: 1.2em;
    margin: 6em 0 0 5em;
    width: 30%;
}

p.magic{
    margin:-2em 0 0 14em;
}

.five>h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    margin: 4em 0;

}
.tipsAndTricks{
    margin-top: 10em;
    padding-left: 13em;
}

.testimonials,.freeShipping{
    font-weight: bold;
}
.shopNow{
    text-align: center;
    margin-top: -18em;
    margin-left: 11em;
}
.freeShipping{
    padding-left: 9em;
    padding-top:2em;
}
button.shopNow{
    background-color:coral;
    border-radius: 3%;
    font-family: 'Kalnia', serif;
    cursor: pointer;

}
button.shopNow:hover{
    background-color: black;
    color: coral;
}

button.blogButton{
    height:3em;
    font-size: 1em;
    width: 25em;
    border-radius: 7%;
    background-color: coral;
    margin: 28em 3em 0 -7em;
    font-family: 'Kalnia', serif;

}

button.blogButton:hover{
    cursor: pointer;
    background-color: black;
    color: coral;
}

.blog,.shopDesc{
    display: flex;
}
.blog>.ccParagraph>p{
    margin: 9rem 5rem 0 12rem;
    width: 100%;
    font-size:larger
}

.shopDesc{
    margin:6rem 0 4rem 0;
}
.shopDesc>p.shopDesc1{
    margin:12em -6em 0 0;
    font-weight: bold;
    width:50%;
    font-size: 1.2em;
}
.shopDesc>p.shopDesc2{
    margin:14em 16em 0 10em;
    padding: 0 1rem 0 1rem;
}

.join,.connect{
    margin-top: 5em;
}
/* .connect{
    margin-top: 2em;
} */
footer{
    margin-top: 2em;
}



/* Slideshow container */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: 1em 0 0 35em;
  }

  .slideshowDot{
    margin-left:10em;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    left: 18.7em;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    font-size: 1.4em;
    padding: 2px 8px;
    position: absolute;
    bottom: 80px;
    width: 35%;
    text-align: center;
    color: #ffff;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* Media Queries */

@media screen and (max-width: 768px){
    nav{
        margin:-1em 0
    }

    img.yarnMainPhoto{
        margin: 3rem 12rem;
    }

    .pageTitle>.slogan{
        font-size: x-large;
    }

    section.paragraphSlogan{
        padding: 1em 9em 0 16em;
    }
    p.threadCollection{
        font-size: 1.3em;
    }

    img.yarnTypes{
        height: 18em;
        width:56%;
        margin-left:3em;
    }

    div.yarnType>.yarnDescription{
        margin:1em;
        padding:3em;
        font-size: 0.8em;
    }
    p.yarnType2{
        margin-left: 18em;
        margin-top:3em;
    }
section.videoAndText{
    margin-left: 7em;
    width:400px;
}
    .videoText{
        font-size: 0.8em;
        margin:1em 0 0 4em;
    }


    p.magic{
        margin:-4em 0 0 8em;
    }

    img.ccImage{
        width: 38%;
        height:19em;
        margin: 3rem 11rem;
    }
    .blog>.ccParagraph>p{
        margin: 6rem 1rem 0 6rem;
    }
    .five>h3{
        font-size: 1.4em;
        margin:4em 0 -2em 0;
    }

    img.shopNow{
        width:21em;
        height:17em;
        margin: 3rem 6rem;
    }
    .shopDesc>p.shopDesc1{
        margin: 6em -4em 0 0;
    }
    .shopDesc>p.shopDesc2{
        margin:6em 16em 0 10em;
    }
    .shopNow{
        margin-top: -4em;
        margin-left: 6em;
    }
    .freeShipping{
        padding-left: 5em;
    }
    .testimonials{
        margin-top: 4em;
        font-size: 1.7em;
    }
    .slideshow{
        margin:1em 0 0 18em;
    }
    .text{
        font-size: 0.8em;
        padding: 2px 10px;
        width: 37%;

    }
    .slideshowDot{
        margin-left: 4em;
    }
}


@media screen and (max-width: 1024px){
    nav{
        margin: 0em
    }
    nav>ul{
        margin-left: 6em;
        margin-top: 4em;
    }
    img.yarnMainPhoto{
        margin:3rem 18rem;
    }
    section.paragraphSlogan{
        padding:1em 9em 0 21em;
    }
    img.yarnTypes{
        height: 24em;
        width: 41%;
        margin-left: 2rem;
    }
    div.yarnType>.yarnDescription{
        margin:3rem;
    }
    p.yarnType2{
        margin-left: 30em;
    }
    section.videoAndText{
        margin-left: 4em;
    }
    p.magic{
        margin:-2em 0 0 5em;
    }
    .blog>.ccParagraph>p{
        margin: 9rem 5rem 0 8rem;
    }
    img.ccImage{
        margin:3rem 14rem;
    }
    .imgshopNow{
        margin:3rem 6rem;
    }
    .shopDesc>p.shopDesc1{
        margin: 9em -4em 0 -4em;
    }
    .shopDesc>p.shopDesc2{
        margin:10em 16em 0 10em;
    }
    .shopNow{
        margin-top: -3em;
        margin-left: 11em;
    }
    .testimonials{
        margin-top: 4em;
    }
    .slideshow{
        margin:1em 0 0 24em;
    }
    .text{
        font-size: 0.8em;
        padding: 2px 10px;
        width: 37%;

    }
    .slideshowDot{
        margin-left: 6em;
}
}
